.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  margin-top: 60px;
}

.card {
  padding: 0 40px 0 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-left: 1px solid var(--grey-ddd);
}

.card:last-child {
  border-right: 1px solid var(--grey-ddd);
}

.cardSubtitle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.cardNumber {
  color: #eb5a3c;
  font-weight: 500;
}

.imageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}

/* .cardBottom {
  margin-top: auto;
} */


@media (max-width: 1200px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 0;
  }
  .card:nth-child(2n+1) {
    border-left: none; /* remove border on left-most items in 2-col layout */
  }
}

@media (max-width: 768px) {
  .cardsGrid {
    grid-template-columns: 1fr;
    gap: 60px 0;
  }
  .card {
    border-left: none;
    padding: 0 20px;
  }
}
