

.header {
  margin-bottom: 40px;
  text-align: center;
}

.cardsGrid {
  display: grid;
  gap: 30px;
}

.cardsGrid3 {
  grid-template-columns: repeat(3, 1fr);
}

.cardsGrid4 {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  border: 1px solid var(--grey-ddd);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 320px;
}

.cardImage {
  object-fit: cover;
}

.cardContent {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 1024px) {
  .cardsGrid3, .cardsGrid4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cardsGrid3, .cardsGrid4 {
    grid-template-columns: 1fr;
  }
}
