

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.imageWrapper {
  width: 100%;
  position: relative;
  height: 100%;
}

.image {
  object-fit: contain;
  object-position: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
}

.cardTitle {
  margin-bottom: 16px;
}


@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .imageWrapper {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
