.section {
  background-color: var(--color-bg-light);
  color: var(--black-111);
  overflow: hidden;
}

.header {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 60px auto;
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: var(--black-111);
  margin-bottom: 24px;
  letter-spacing: -0.5px;
}

.subtitle {
  font-size: 14px;
  color: var(--grey-666);
  line-height: 1.6;
}

/* ym css */
.vennContainer {
  position: relative;
  width: fit-content;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


.vennContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  height: 100%;
  width: 34%;
  background: url('../../public/images/left-orange.svg') no-repeat center;
  z-index: 2;
}



.vennContainer::after {
  content: '';
  position: absolute;
  top: 0;
  right: -100px;
  height: 100%;
  width: 34%;
  background: url('../../public/images/right-orange.svg') no-repeat center;
  z-index: 2;
}

.circle {
  border-radius: 50%;
  border: 2px solid #C9C5B8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Outer glow ring */


.circle.left {
  margin-right: -40px;
  background: linear-gradient(132deg, #EEE 22.84%, #F3EFE2 84.02%);
}

.circle.right {
  position: relative;
  margin-left: -40px;
  background: linear-gradient(231deg, #EEE 19.63%, rgba(243, 239, 226, 0.00) 76.14%);
   z-index: 1;
}

.content {
  text-align: center;
  padding: 60px 110px;
  z-index: 2;
}

.circle h2 {
  font-size: 2.1rem;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 30px;
  line-height: 1.1;
}

.circle ul {
  text-align: left;
  margin-bottom: 40px;
  list-style: disc;
}

.circle ul li {
  padding: 8px 0;
  color: #444;
  font-size: 1.05rem;
  position: relative;
  list-style: disc;
}



/* ym css */

