.processSection {
}

.gridContainer {
  display: grid;
  grid-template-columns:30% 30% 40% ;
  /* gap: 40px; */
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.tabsCol {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.tabItem {
  padding: 22px;
  cursor: pointer;
  border-bottom: 1px solid var(--grey-ddd);
  transition: all 0.3s ease;
  letter-spacing: 0.2px;
}


.activeTab {
 background: linear-gradient(90deg, #FFDAD0 0%, #FFFBEE 100%);
  color: var(--red);
  border-bottom-color: transparent;
  font-weight: 500;
}

.centerCol {
  display: flex;
  justify-content: end;
  align-items: center;
}

.descCol {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: -130px;
}

.descLineWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.descCol p
{
  margin-top: 0px;
}

.lineToCenter {
  width: 140px;
  height: 1px;
  background-color: #60853A;
  position: relative;
}

.lineToCenter::after {
  content: '';
  position: absolute;
  right: -3px;
  top: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #60853A;
}



@media (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: 280px 1fr 320px;
    gap: 30px;
  }
  .lineToCenter {
    width: 80px;
  }
}

@media (max-width: 992px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .descLineWrapper {
    display: none;
  }
}