.gridContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.leftCol {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centerCol {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightCol {
  flex: 3;
}

.mainTitle {
  color: #60853A;
  margin-bottom: 40px;
}

.highlightText {
  color: var(--red);
}

.thankYouWrapper {
  margin-top: 40px;
}

.subTextWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
}

.descriptionText {
}

@media (max-width: 992px) {
  .gridContainer {
    flex-direction: column;
    text-align: center;
  }

  .subTextWrapper {
    justify-content: center;
  }
}
