.footer {
  background-color: var(--black-111);
 
  padding: 80px 0 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-top: 120px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 60px;
}

/* Col 1 */
.brandCol {
  width: 25%;
}

.logo {
  margin-bottom: 32px;
}

.companyDesc {
  color: var(--white);
  margin-bottom: 32px;
}

.contactInfo {
  display: flex;
  gap: 24px;
  color: var(--grey-ddd);
  margin-bottom: 32px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.socialLinks {
  display: flex;
  gap: 16px;
}

.socialIcon {
  color: #ffffff;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon:hover {
  opacity: 0.7;
}

.rightLinksSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 60%;
}

/* Link Columns */
.linkCol {
  display: flex;
  flex-direction: column;
}

.linkColBordered {
  border-left: 1px solid var(--grey-666);
  padding: 0 36px;
}

.colBlock {
  margin-bottom: 40px;
}

.colBlock:last-child {
  margin-bottom: 0;
}

.colTitle {
 color: var(--white);
font-family: "Familjen Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 24px;
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.linkItem a {
 color: var(--grey-ddd);
font-size: 16px;
font-weight: 400;
line-height: normal;
}

.linkItem a:hover {
  color: var(--white);
}

/* Bottom Section */
.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.bottomLinks a {
  text-decoration: none;
  transition: color 0.2s;
}

.bottomLinks a:hover {
  color: #a3a3a3;
}

@media (max-width: 1024px) {
  .topSection {
    flex-wrap: wrap;
  }
  .brandCol {
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
  .linkColBordered {
    border-left: none;
    padding-left: 0;
  }
  .rightLinksSection {
    flex-wrap: wrap;
    gap: 30px;
  }
}
