.content {
  margin: 0 auto 60px;
}


.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapImage {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }

  .title {
    font-size: 36px;
  }

  .description {
    font-size: 16px;
  }
}