
.container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  align-items: center;
  gap: 60px;
}


.rightCol {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1; /* Adjust depending on generated image proportions */
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .rightCol {
    justify-content: center;
  }
}
