.layout {
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: center;
  gap: 80px;
}

.title {
  margin-bottom: 30px;
}

.imageCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 500px;
}


/* =========================================================
   Responsive Breakpoints
   ========================================================= */

@media (max-width: 1776px) {
  .layout { gap: 70px; }
}

@media (max-width: 1661px) {
  .image { max-width: 450px; }
}

@media (max-width: 1537px) {
}

@media (max-width: 1441px) {
  .layout { gap: 40px; }
}

@media (max-width: 1281px) {
  .layout { gap: 30px; }
  .image { max-width: 350px; }
}

@media (max-width: 1025px) {
  .layout {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .image {
    max-width: 400px;
  }
}

@media (max-width: 769px) {
  .section {
    padding: 60px 0;
  }
  .image {
    max-width: 350px;
  }
  .layout {
    gap: 40px;
  }
}

@media (max-width: 431px) {
  .image { max-width: 300px; }
  .layout { gap: 30px; }
}

@media (max-width: 361px) {
  .image { max-width: 250px; }
  .layout { gap: 20px; }
}
